:root {
    --mainColor: #095283;
    --heading: #4B0082;
    --headingfont: #FFC0CB;
    --accent: #6A0DAD;
    --button: #a30606;
    --bodyfont: #333333;
    --bodyBackground: #f6d7fd;
    --link: #FF69B4;
    --fontFamily: "Roboto Slab", serif;
    --header-font: "Great Vibes", cursive;
}

body {
    font-family: var(--fontFamily);
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: var(--bodyBackground);
    font-size: 1.2rem;
}

h1,
h2,
h3 {
    font-family: var(--header-font);
    color: var(--bodyfont);
}

h1 {
    font-size: 2.5rem;
}

h2,
h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuToggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--heading);
    color: var(--headingfont);
    flex-flow: column wrap;
    font-family: "Roboto", sans-serif;
}

#mainNav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: none;
    background-color: var(--heading);
}

#mainNav.show {
    display: flex; /* Change from block to flex */
    flex-direction: column; 
}

.navContainer li:first-child {
    display: block;
    max-width: 63px;
    margin: 0 auto;
}

.navContainer li a:hover {
    background-color: var(--link);
    color: white;
    transform: scale(1.1);
    font-family: var(--header-font);
}

#mainNav .logo a:hover {
    background-color: transparent;
    color: inherit;
    transform: none;
}

nav {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

#mainNav .logo {
    margin-right: 120px;
}

#mainNav .logo img {
    height: auto;
    width: 150px;
    border-radius: 75px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

nav ul li {
    margin-left: 20px;
    margin-bottom: 0.5rem;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

nav ul li a.active {
    border-bottom: 2px solid grey;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
}

input,
select,
textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cta {
    background-color: #e9c46a;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

button, .cta-button {
    background-color: var(--button);
    color: #fff;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover, .cta-button:hover {
    background-color: var(--link);
}

.newsItem {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.newsItem time {
    color: #000000;
    font-size: 0.9rem;
}

.staff-member {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.staff-member figure {
    margin: 0;
    text-align: center;
    border: thin #c0c0c0 solid;
    padding: 5px;
}

.staff-member img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.staff-member figcaption {
    font-style: italic;
    font-size: 1rem;
    margin: 0px 5px;
}

.tableResponsive {
    overflow-x: auto;
}

textarea {
    resize: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #b1b1b1;
    font-weight: bold;
}

table,
thead,
tbody,
th,
td,
tr {
    display: block;
}

thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

thead tr th {
    background-color: #333;
    color: #fff;
}

tr {
    margin-bottom: 0.6rem;
}

td {
    border: none;
    position: relative;
    color: #fff;
    background-color: #681a1a;
    padding: .75rem .75rem .75rem 55%;
}

td {
    background-color: #c2c2c2;
    color: #5e1818;
}

td:nth-child(odd) {
    background-color: #a7a7a7;
}

td:before {
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    padding: 12px;
    white-space: nowrap;
    font-weight: bold;
    background-color: #260707;
    color: #fff;
}

footer {
    background-color: var(--mainColor);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}