@media (min-width: 600px) {
    header {
        flex-direction: column; /* Stack elements vertically on mobile */
        align-items: stretch; /* Ensure full width on items */
    }
    
    #menuToggle {
        width: 100%; /* Full width for the toggle button */
        padding: 10px; /* Add padding if needed */
        text-align: center; /* Center the toggle button text */
    }

    #mainNav {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--heading);
        /* Optional: Background color for mobile */
        z-index: 10;
    }

    /* Display navigation when the menu toggle is activated */
    #mainNav.show {
        display: block;
    }

    #mainNav ul {
        display: flex;
        flex-direction: column;
        /* Stack items vertically */
        align-items: stretch; /* Stretch items to full width */
        padding: 0; /* Remove padding around the list */
        margin: 0; /* Remove margin around the list */
        width: 100%; /* Ensure the list takes full width */
    }

    #mainNav ul li {
        width: 100%;
        /* Full width for each menu item */
        text-align: center;
        padding: 10px 0;
    }

    #mainNav ul li a {
        display: block;
        width: 100%;
        padding: 15px;
        color: #fff;
        text-decoration: none;
    }

    /* Style for the menu toggle button */
    #menuToggle {
        display: inline-block;
        background: none;
        border: none;
        cursor: pointer;
    }

    #menuToggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #333;
        /* Adjust color as needed */
        transition: all 0.3s ease;
    }

    main {
        padding: 2rem;
    }

    .rehearsalRooms {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .rehearsalRooms figure {
        flex-basis: calc(33.333% - 1rem);
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: revert;
    }

    thead tr {
        position: static;
    }

    th {
        padding: 0.75rem;
        text-align: center;
        background-color: #444444;
        color: #fff;
    }

    tbody tr:nth-child(odd) td {
        background-color: #505050;
        color: #fff;
    }

    tbody tr:nth-child(even) td {
        background-color: #b1b1b1;
        color: #000;
    }

    tr {
        margin-bottom: 0;
    }

    td {
        padding-left: 0.75rem;
        text-align: center;
        color: #fff;
        background-color: unset;
    }

    td:nth-child(odd) {
        background-color: unset;
    }

    td:before {
        content: none;
    }
}