* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
    height: 100vh;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.header {
    grid-column: 1 / 4;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5c0334;
    padding: 20px;
    color: #ffffff;
    font-family: "Roboto Slab", serif;
}

.title span {
    color: #ffcc00;
    font-size: 1.7rem;
}

nav {
    font-size: 1.5rem;
    background-color: #282727;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
    padding: 10px;
    max-width: 90%;
    margin: 0 auto;
    align-items: stretch;
}

.card:first-of-type {
    grid-column: 1 / 3;
}

.card:last-of-type {
    grid-column: 3 / 4;
}

.card:last-of-type .card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:last-of-type .list {
    margin: 0;
    padding: 0;
    list-style: square inside;
}

.card:last-of-type .list a {
    text-align: center;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    /* Keep card as a flex container */
    flex-direction: column;
    /* Stack contents vertically */

}

.card-heading {
    font-family: "Roboto Slab", serif;
    background-color: #013220;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    background-color: #850078;
    padding: 10px;
}

.card-description {
    padding: 20px;
    display: flex;
    flex: 1;
}

.card-description p {
    font-size: 1em;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 1000px;
    padding-right: 20px;
    padding-left: 20px;
}

.card img {
    width: 200px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-location {
    display: flex;
    justify-content: center;
}

.card-place {
    border-bottom: 1px solid #cfcfcf;
    width: 50%;
    text-align: center;
    line-height: 2em;
    color: #333333;
}

figure {
    height: 150px;
    padding-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

figcaption {
    padding-top: 0;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
}

.list a {
    text-decoration: none;
    line-height: 2em;
    color: #004085;
    text-decoration: underline;
}

.list a:hover {
    color: #bd36b4;
    text-decoration: underline;
}


/* Footer styles */
footer {
    background-color: #004085;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    grid-column: 1 / 4;
}

footer p {
    margin: 5px 0;
}

.modification {
    color: #bfff00;
}