@media only screen and (min-width: 520px) {
   
    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
    }

    .responsive {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        max-width: 220px;
        min-height: 58.5px;
    }

    img, figure {
        width: 100%;
        height: auto;
    }

    .templecards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;
        justify-content: space-around;
    }

    main {
        max-width: 1200px;
        margin: 10px auto;
    }
}