:root {
    --medium: #ff3366;
    --dark: #011627;
    --light: #c0b9dd;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, p {
    text-align: center;
    padding: 0.5rem;
}

h1, h2 {
    font-family: "Caveat", cursive;
}

h1 {
    font-size: 3.5rem;
    color: var(--dark);
}

h2 {
    font-size: 2.5rem;
    color: var(--medium);
}

p {
    font-family: "Noto Serif", serif;
    font-size: 1.25rem;
}

main {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

.templecards {
    display: grid;
    grid-template-columns: 1fr;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--light);
    color: var(--dark);
    flex-flow: column wrap;
}

.ham {
    max-width: 63px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--dark);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 50px;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.navigation li {
    display: none;
    margin-top: 10px;
    transition: 0.5s;
}

.responsive li {
    display: block;
    text-align: center;
    justify-content: center;
}

.navigation li:first-child {
    display: block;
    max-width: 63px;
    margin: 0 auto;
}

.navigation li a:hover {
    background-color: var(--medium);
    color: var(--dark);
    transform: scale(1.1);
}

.navigation {
    list-style: none;
    padding: 0;
    font-size: 2rem;
    font-family: "Noto Serif", serif;
}

.navigation a {
    display: flex;
    flex-flow: row wrap;
    padding: 0.75rem;
    text-decoration: none;
    color: var(--dark);
    transition: 0.5s;
    background-color: var(--light);
    border-radius: 5px;
    justify-content: center;
}

.navigation li .currentpage {
    background-color: var(--dark);
    color: var(--light);
    transition: 0.5s;
    transform: scale(1.1);
}

.currentpage {
    font-family: "Caveat", cursive;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

figure {
    background-color: var(--light);
    border-radius: 10px;
}